.square {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 400px;
    position:absolute;
    margin-top: 80px;
    opacity: 80%;
   
}
.square2 {
    background-color: rgb(219, 226, 243);
    position:relative;
    opacity: 80%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
   
}
.square3 {
    background-color: rgb(183, 204, 253);
    position:relative;
    margin-top: 20px;
    opacity: 80%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   
}
.square h1 {
    color: #fff;
}

.text-block {
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

  .icon-box {
    padding: 10px 20px;
    margin-top: 35px;
    margin-bottom: 25px;
    text-align: center;
    border: 1px solid #ebe6e4;
    /* height: 220px; */
    height: auto;
    position: relative;
    background: #faf9f8;
    
}